<!-- ログイン時にはタスク一覧、投稿フォーム等を表示するコードを追加する -->

<div class="center jumbotron">
    <div class="text-center">
        <h1>Welcome to the Tasklists</h1>
        <%= link_to 'Singn up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
</div>




    
    


<%# #indexでnilclassになった要因→コントローラーにて、モデル名_controller.rbに記載しないといけないコードをapplication_controllerに書いていた %>
<%# ここでリンク先showに送るためには、task（モデル名単体系）出ないとだめ。　@taskではあかんかった %>